@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #469730 #ffffff00;
    scroll-behavior: smooth;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #469730;
    border-radius: 10px;
    border: 3px none #ffffff;
}



@keyframes reveal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes slideinTop {
    0% {
        transform: translateY(+100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slideinBottom {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slideinRight {
    0% {
        transform: translateX(+100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideinLeft {

    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.reveal {
    animation: reveal 1s linear;
}

.slideinTop {
    animation: slideinTop 1.5s ease-out;
}

.slideinBottom {
    animation: slideinBottom 1.5s ease-out;
}

.slideinRight {
    animation: slideinRight 1.5s ease-out;
}

.slideinLeft {
    animation: slideinLeft 1.5s ease-out;
}

.form-floating input:invalid {
    border: red solid 3px;
}

.form-floating input:invalid:focus{
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25)
}  

.form-floating input:valid {
    border: green solid 3px;
}

.form-floating input:valid:focus{
    box-shadow: 0 0 0 0.25rem rgba(0, 128, 0, 0.25)
}


/* Boutons */

.cssbuttons-io-button {
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.cssbuttons-io-button-red {
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgb(126, 5, 5) 0%, rgb(243, 0, 0) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #d80a0a98;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.cssbuttons-io-button-red:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #d80a0a98;
    background: linear-gradient(0deg, rgb(126, 5, 5) 0%, rgb(243, 0, 0) 100%) !important;
    border: none !important;
    color: grey;
}

.cssbuttons-io-button-red:active {
    box-shadow: 0 0.3em 1em -0.5em #d80a0a98;
}

.cssbuttons-io-button-blue {
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgb(22, 37, 179) 0%, rgb(14, 127, 202) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #181cd498;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.cssbuttons-io-button-blue:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #181cd498;
}

.cssbuttons-io-button-blue:active {
    box-shadow: 0 0.3em 1em -0.5em #181cd498;
}


.buttonError {

    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: #9de044 !important;
    font-size: 1.5rem !important;
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #132624, #09881e, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
}

.buttonError:hover {
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.buttonError:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #132624, #09881e, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

.buttonError:hover::before {
    filter: blur(20px);
}

.buttonError:active {
    background: linear-gradient(32deg, #03a9f4, #132624, #09881e, #03a9f4);
}





/* ===== General ===== */

body {
    background-color: rgba(138, 238, 138, 0.25) !important;
    -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none;
    /* Internet explorer depuis la version 10 et Edge */
    user-select: none;
    /* Propriété standard */
}


iframe {
    max-width: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(29, 182, 42) !important;
}

.boutonAccueil {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 3px 3px 12px #c5c5c5
}

.boutonAccueil::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.boutonAccueil:hover::before {
    width: 9em;
}

p {
    font-family: 'Poppins', sans-serif;
}

h1 {
    background: radial-gradient(at 50% 10%, black, transparent 60%),
        linear-gradient(90deg, rgb(60, 155, 88), rgb(84, 176, 212));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 12rem;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-70%);
    -webkit-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    font-family: 'Playball', cursive;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
    width: 100% !important;
}

li {
    list-style: none;
}

.selectable {
    -moz-user-select: text;
    /* Firefox */
    -webkit-user-select: text;
    /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: text;
    /* Internet explorer depuis la version 10 et Edge */
    user-select: text;
    /* Propriété standard */
}

textarea {
    resize: none;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.vert {
    color: #21bd50;
}

.bleu {
    text-decoration: underline;
    text-decoration-color: #21bd50;
    color: #0066CC !important;
}


/* ===== Header - Footer (+ Navbar) ===== */



.navbar {

    background: linear-gradient(to top, lightblue, lightgreen);
    padding: 0 !important;
}

.text_icones{
    font-size: 1rem;
}

/* Ombre du titre (h1) */
.shadowText {
    color: #00000000;
    text-shadow: 10px 10px 15px black;
    font-size: 12rem;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-70%);
    -webkit-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    font-family: 'Playball', cursive;
}


.topHeader {

    background-color: lightgreen;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.iconeFlex {
    font-size: 2.5rem;
    transition: 0.3s;
    margin-right: 10px !important;
    text-align: center;
}

.bx:hover {
    transform: scale(1.4) !important;
    transition: 0.3s;
}

.bx {
    transition: 0.3s
}

.mail,
.phone {
    transition: 0.3s;
}

.mail:hover,
.phone:hover {
    transform: scale(1.2) !important;
    margin-left: 20px;
    transition: 0.3s;
}


.textHeaderTop {
    font-size: 0.9rem !important;
}

.navbar-collapse a {

    font-family: "Playball" !important;
    font-size: 1.4rem;
    transition: 0.3s !important;
}

.navbar-collapse a:hover {

    transform: scale(1.3);
    transition: 0.3s;
    color: lightcoral !important;
    text-decoration: underline;

}

.copyright {

    font-size: 0.6rem;
}

.arbo,
.mentions {

    font-size: 0.9rem;
}


.headerIndex {
    box-shadow: inset 0 5px 5px lightblue;
    position: relative;
    height: 70vh;
    text-align: center;
    background-position: center;
    background-size: cover;
}




.adminCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.dropdown-menu {
    background-color: lightblue;
}

.dropdown-menu a:hover {
    transform: scale(1);
    background-color: lightblue;
}





.textePresentation {
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    margin: 50px 20px 0 0;
    background: linear-gradient(45deg, #161ECE 0%, #1C6EA4 30%, #1CCD14 100%);
    box-shadow: 10px 11px 15px -3px rgba(0, 0, 0, 0.58)
}

.videoPresentation {
    margin-top: 50px;
    width: 30vw;

}

.videoPresentation video {
    border-radius: 30px;
    transition: 0.5s;
}

.videoPresentation video:hover {
    transform: scale(1.4);
    transition: 0.5s;
}

.presentation h2 {
    font-size: 2rem;
}

.presentation p {
    font-size: 0.9rem;
}

map {
    width: 200% !important;
}

.carte,
.carteSuisse {
    width: 40%;
    margin: 0 auto;
}

path {
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: .25;
    fill: #86aae0;
}

.fillRed {
    fill: red;
}

.fillRed:hover {
    fill: orangered !important;
}

g:hover .fillRed {
    fill: orange;
}

g:hover path {
    fill: #86cce0;
}

g path:hover {
    fill: #86eee0;
}

.carousel img {
    border-radius: 10px !important;
}

.carteInteractive {
    text-align: center;
    padding: 20px;
}




.boxShadow {
    box-shadow: 5px 5px 15px 5px #000000;
}



.grid-item {
    margin-bottom: 10px;
}




.scrollVisite {
    color: green !important;
}

.scrollNonVisite {
    color: red !important;
}


.dashboardMasonry {
    column-count: 2 !important;
}

.modal-accueil-body {
    padding: 0 !important;
}

.modal-accueil {
    max-width: 60vw !important;
}

.modal-content img{
    width: 100%;
}

.imageMasonry {
    transition: 00.5s;
}

.imageMasonry:hover {
    z-index: 10;
    transform: scale(105%);
    filter: grayscale(0);
    transition: 00.5s;
}


.masonry {
    column-count: 4;
    column-gap: 16px;
}

.masonry .mItem {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
}

.remarque {
    display: none;
}


.msgHover:hover {
    cursor: pointer;
}


.erreur {
    height: 100vh;
    padding-top: 10%;
    background-size: cover;
    background-repeat: no-repeat;
}

.erreur h3 {
    font-size: 8rem;
}

.erreur p {
    font-size: 4rem;
}

@media (max-width: 2560px) {

    .carousel img {
        height: 350px !important;
    }


}

@media (max-width: 1199px) {

    .textePresentation {
        width: 50%;
    }

    .videoPresentation {
        width: 50%;
    }

    .carousel img {
        height: 300px !important;
    }

    .masonry {
        column-count: 3;
    }

    h1,
    .shadowText {
        font-size: 8rem;
    }

    .carte,
    .carteSuisse {
        width: 60%;
    }

}


@media (max-width: 991px) {
    .masonry {
        column-count: 2 !important;
    }

    .presentation .container {
        display: block !important;
    }

    .videoPresentation {
        width: 100% !important;
    }

    .textePresentation {
        width: 100% !important;
        margin: 0 !important;
    }

    h1,
    .shadowText {
        font-size: 6rem;
    }

    .headerIndex {
        height: 400px;
    }

    .carte,
    .carteSuisse {
        width: 70%;
    }
}

@media (max-width: 767px) {

    .headerMedia {
        width: 65% !important;
    }

    .copyright,
    .mentions,
    .reseaux {
        width: 50% !important;
        margin-top: 3rem !important;
    }

    .arbo {
        width: 27%;
        margin: auto;
    }

    .copyright {
        order: 4;
    }

    h1,
    .shadowText {
        font-size: 4rem;
    }

    .headerIndex .container {
        display: block !important;
    }

    .carousel img {
        height: 250px !important;
    }

    .masonry {
        column-count: 1 !important;
    }

    .headerIndex {
        height: 300px;
    }

    .carte,
    .carteSuisse {
        width: 80%;
    }

    .aproposFlex {
        flex-direction: column;
    }

    .erreur h3 {
        font-size: 6rem !important;
    }

    .erreur p {
        font-size: 3rem !important;
    }

}

@media (max-width: 576px) {
    .headerMedia {
        display: block !important;
    }

    .iconeAlign{
        flex-direction: column;
        text-align: initial;
    }

    .topHeader{
        flex-direction: column;
    }

    .iconeFlex {
        display: block !important;
        text-align: center;
    }

    .headerMedia i{
        display: none !important;
    }

    .copyright,
    .mentions,
    .reseaux {
        width: 100% !important;
    }

    .arbo {
        width: 40%;
        margin: auto;
    }

    .arbo {
        order: 1;
    }

    .mentions {
        order: 3;
    }

    .reseaux {
        order: 2;
    }

    .copyright {
        order: 4;
    }


    .carousel img {
        height: 125px !important;
    }

    p {
        font-size: 0.5rem !important;
    }

    h2 {
        font-size: 1rem !important;
    }

    h1,
    .shadowText {
        font-size: 3rem !important;
    }

    .headerIndex {
        height: 200px;
    }

    .carte,
    .carteSuisse {
        width: 100%;
    }

    input {
        font-size: 12px !important;
    }

    button {
        font-size: 12px !important;
    }

    .erreur h3 {
        font-size: 4rem !important;
    }

    .erreur p {
        font-size: 2rem !important;
    }

}